* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  font-family: "Lato", sans-serif;
}

/*header section*/

/*header section ends here*/

/*hero section*/
.hero-section {
  width: 100%;
}
.hero-section .hero-img {
  width: 100%;
  display: block;
  margin: 0 auto;
  overflow-x: hidden;
}
.hero-title h1 {
  font-size: 20px;
  font-family: "Montserrat", sans-serif !important;
  text-align: center;
  font-weight: bold;
}
.hero-title .hero-para {
  font-size: 14px;
  text-align: center;
  font-family: "Montserrat", sans-serif !important;
  margin: 21px;
}

.hero-buttons .btn.btn-black {
  border: 2px solid black;
  margin: 0px auto 15px;
  width: 40%;
  display: block;
}
.hero-buttons .btn.btn-black1 {
  border: 2px solid black;
  margin: 0px auto;
  display: block;
  width: 65%;
}

.flip-card {
  background-color: transparent;
  width: 90%;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin: 20px auto;
}
img.img1 {
  width: 190px;
  margin: 5px 28px;
}
img.img2 {
  width: calc(80 / 300 * 100%);
  margin: 5px 83px;
}
img.img3 {
  width: 215px;
  margin: 0px 25px;
}
img.img4 {
  width: 70px;
  margin: 25px 88px;
}
img.img5 {
  width: 184px;
  margin: 5px 34px;
}
img.img6 {
  width: 73px;
  margin: 25px 88px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #dbdbdb;
  color: black;
  border-radius: 30px;
}

/* Style the back side */
.flip-card-back {
  background-color: #0093dd;
  color: white;
  transform: rotateY(180deg);
  border-radius: 30px;
}
ul.list-style-card1 {
  margin: 5px 38px 0px;
  padding: 20px;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: normal;
}

/*client logos section*/
.logos-company {
  position: absolute;
  width: 100%;
}
.container {
  max-width: unset;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider {
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;

  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

.tiss,
.emi,
.piramal,
.first,
.es {
  height: 81px;
  width: auto;
}

/* #slideshow {
    margin: 80px auto;
    position: relative;
    width: 100%;
    height: 240px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }
  
  #slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
  } */
/*client logos section ends here*/

/*teleduce features*/
section.tf-grey {
  background-color: #ededed;
  margin-top: 80px;
  height: 450px;
}

.features h1 {
  font-size: 24px;
  font-family: "Lato", sans-serif !important;
  font-weight: normal;
  margin: 0px 5px;
}
.features p {
  font-size: 15px;
  margin: 5px 7px;
  font-family: "Lato", sans-serif !important;
  font-weight: normal;
}

.list-style li {
  text-decoration: none;
  list-style-type: disc;
  font-size: 15px;
  text-align: left;
  margin: 0 42px;
}
img.f-img {
  width: 86%;
  margin: 20px;
}
/*teleduce features section ends here*/

/*rocket launch section*/
section.rl-grey {
  background-color: #ededed;
  height: 400px;
  width: 100%;
}
.rl-section h2 {
  font-size: 20px;
  text-align: center;
  font-weight: normal;
  padding: 38px;
}
.rl-section img {
  width: 60%;
  margin: 0 auto;
  display: block;
}
/*rocket launch section ends here*/

/*software review section*/
.sf-review h2 {
  font-size: 20px;
  text-align: center;
  margin-top: 25px;
}
img.sf-img1 {
  width: 27%;
  margin: 25px 31px;
}
img.sf-img2 {
  width: 38%;
  margin: 10px 15px;
}
img.sf-img3 {
  width: 28%;
  margin: 8px 40px;
}
img.sf-img4 {
  width: 28%;
  margin: 8px 25px;
}
img.sf-img5 {
  width: 55%;
  margin: 0 auto;
  display: block;
}

/*software review section ends here*/

/*sign up section*/
.sign-up {
  background-color: #0093dd;
  color: white;
  height: 180px;
  padding: 5px;
}

.sign-up h1 {
  font-size: 25px;
  text-align: center;
  margin-top: 30px;
}
.sign-up h4 {
  font-size: 18px;
  text-align: center;
}
.btn.btn-primary {
  width: 40%;
  margin: 0 auto;
  background-color: white;
  color: #0093dd;
  display: block;
}
/*sign up section ends here*/

/*testimonial section*/
.testimonial-slider {
  background-color: #ededed;
}
.slider {
  margin: 0px auto;
}

.slick-slide {
  margin: 0px 20px;
}
img.u-img {
  width: 100%;
  margin: 25px 0px;
}
img.v-img {
  width: 100%;
  margin: 25px 0px;
}
img.r-img {
  width: 100%;
  margin: 25px 0px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev {
  top: 412px;
  left: 35%;
}

.slick-next {
  top: 412px;
  right: 40%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}
.slick-current {
  opacity: 1;
}
div.slick-track {
  height: 450px;
}

/*testimonial section ends here*/

/*awards section*/
.awards {
  width: 100%;
  margin: 0 auto;
  display: block;
}
.awards h3 {
  margin: 15px;
}
img.awd1 {
  width: 55%;
  margin: 0 auto;
  display: block;
}
img.awd2 {
  width: 55%;
  margin: 0 auto;
  display: block;
}
img.awd3 {
  width: 55%;
  margin: 0 auto;
  display: block;
}
/*awards section ends here*/

/*footer section*/
.cf-footer {
  background-color: #0093dd;
  .container {
    display: block;
    text-align: center;
    max-width: unset;
    .col-sm-6 {
      max-width: unset;
    }
  }
}
.cf-footer h3 {
  font-family: Montserrat, sans-serif !important;
  font-size: 15px;
  color: white;
}

.social-network li {
  list-style-type: none;
}
.social-network a {
  color: #16325c;
}
li.sn {
  display: inline-block;
  padding: 5px;
  margin: -1px;
}
.list-style-card2 {
  list-style-type: none;
}
.list-style-card2 a {
  color: #16325c;
}
footer.cf-footer2 {
  background-color: #16325c;
  color: white;
  width: 100%;
  height: 172px;
}
footer.cf-footer2 p.tac {
  border: 1px solid white;
  width: 43%;
}
footer.cf-footer2 p.pp {
  border: 1px solid white;
  width: 40%;
}
footer.cf-footer2 p.tac a {
  color: #c9c7c7;
}
footer.cf-footer2 p.pp a {
  color: #c9c7c7;
}
/*footer section ends here*/

@media only screen and (min-width: 700px) {
  .hero-section .hero-img {
    width: 75%;
    margin: -5px -90px;
  }
  .hero-buttons .btn.btn-black {
    width: 30%;
    margin: 0px 110px;
  }
  img.img2 {
    width: 16%;
  }
  .flip-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .flip-card {
    background-color: transparent;
    width: 42%;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    margin: 0px 25px 40px;
  }

  .rl-section img {
    width: 40%;
  }
  img.sf-img1 {
    width: 20%;
    margin: 25px 120px;
  }
  img.sf-img2 {
    width: 25%;
  }
  img.sf-img3 {
    width: 20%;
    margin: 8px 125px;
  }
  img.sf-img4 {
    width: 20%;
  }
  img.sf-img5 {
    width: 35%;
  }
  .sign-up {
    background-color: #0093dd;
    color: white;
    height: 210px;
    padding: 20px;
  }
  .slick-slide img {
    width: 78%;
  }
  .award-imgs {
    display: inline-flex;
    width: 50%;
    padding: 35px;
    margin: 0px 100px;
  }
  p.copyright {
    text-align: center;
  }
  .cf-footer {
    .container {
      display: grid;
      text-align: left;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;
    }
  }
}

@media only screen and (min-width: 1100px) {
  .flip-card {
    background-color: transparent;
    width: 29%;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    margin: 0px 20px 40px;
  }
  .rl-section img {
    width: 30%;
  }
  img.sf-img1 {
    width: 15%;
    margin: 25px 210px;
  }
  img.sf-img2 {
    width: 20%;
  }
  img.sf-img3 {
    width: 15%;
    margin: 8px 220px;
  }
  img.sf-img4 {
    width: 15%;
  }
  img.sf-img5 {
    width: 30%;
  }
  .slick-slide img {
    width: 90%;
  }
  .sign-up {
    background-color: #0093dd;
    color: white;
    height: 270px;
    padding: 45px;
  }
  .award-imgs {
    display: inline-flex;
    width: 55%;
    padding: 30px;
    margin: 0px 260px;
  }

  img.awd1 {
    width: 30%;
    margin: 0 auto;
    display: block;
  }
  img.awd2 {
    width: 30%;
    margin: 0 auto;
    display: block;
  }
  img.awd3 {
    width: 30%;
    margin: 0 auto;
    display: block;
  }
}
